            body {
                overflow: hidden;
            }
            
            .container {
                min-height: 70vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
            .time {
                display: flex;
                flex-wrap: wrap;
                font-family: 'Exo', sans-serif;
                font-size: 8vh;
                color: rgba(58, 150, 65, 0.897);
                text-shadow: 1px 1px 3px #96bb8b;
                text-align: center;
            }
            
            h2 {
                min-width: 100px;
                text-align: center;
            }
            
            #sec,
            #ap {
                min-width: 165px;
            }
            
            .btn {
                height: 7vh;
                width: 20vh;
                margin: 4vh;
                border: none;
                background: rgba(58, 150, 65, 0.897);
                border-radius: 5px;
                box-shadow: 3px 3px 7px #96bb8b;
                color: aliceblue;
                font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: medium;
            }
            
            .btn:focus {
                border: 1px solid rgb(146, 216, 144);
                outline: none;
                background-color: rgba(21, 104, 28, 0.897);
            }
            
            @media only screen and (max-width: 480px) {
                body {
                    overflow: auto;
                }
                .container {
                    margin-top: 50px;
                    height: 10vh;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                }
                .btn {
                    height: 4vh;
                    width: 10vh;
                    margin: 3vh;
                    font-size: 1vh;
                }
                .selection {
                    display: flex;
                    flex-direction: column;
                }
                .colon {
                    display: none;
                }
                .time {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    font-family: 'Exo', sans-serif;
                    font-size: 1vh;
                    color: rgba(58, 150, 65, 0.897);
                    text-shadow: 1px 1px 3px #96bb8b;
                    text-align: center;
                }
                h2 {
                    /* min-width: 20px; */
                    text-align: center;
                }
                #sec {
                    min-width: 0;
                }
            }
            
            @media only screen and (max-width: 900px) {
                body {
                    overflow: auto;
                }
                .container {
                    height: 10vh;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                }
                .btn {
                    height: 6vh;
                    width: 13vh;
                    margin: 2vh;
                    font-size: 1vh;
                }
                .selection {
                    display: flex;
                    flex-direction: column;
                }
                .time {
                    display: flex;
                    /* flex-wrap: wrap; */
                    font-family: 'Exo', sans-serif;
                    font-size: 3vh;
                    color: rgba(58, 150, 65, 0.897);
                    text-shadow: 1px 1px 3px #96bb8b;
                    text-align: center;
                }
                h2 {
                    min-width: 40px;
                    text-align: center;
                }
                #sec {
                    min-width: 20px;
                }
                .colon {
                    min-width: 0;
                }
            }